.login-form-container {
  margin-left: var(--header-height);
  margin-top: var(--header-height);
}

.form-container {
  width: 400px;
  box-shadow: 0 0 10px 1px var(--gray);
  padding: 2.5rem;
  margin: auto;
  /* background: var(--primary-color); */
  color: white;
}

.form-items {
  margin-bottom: 20px;
}
.form-container h2 {
  text-align: center;
  margin-top: 0;
}
.form-container label {
  font-size: 18px;
}
.form-container input {
  width: 95%;
  height: 1.7rem;
  margin: 0.6rem 0 0;
  font-size: 0.8rem;
  padding-left: 8px;
  border-radius: 6px;
}

.form-container button {
  color: var(--primary-color);
  /* background: var(--primary-color); */
  margin-left: 160px;
  padding: 5px 10px;
  height: 35px;
  font-weight: 700;
  border: 1px solid var(--white);
  border-radius: 13px;
  cursor: pointer;
}

.form-container span {
  font-size: 12px;
  color: red;
  padding-bottom: 1rem;
}

.form-items p {
  text-align: center;
}

/* h2 {
  padding-bottom: 5px;
} */
/* input{
    margin: .5em;
    width: 30vh;
    height: 4vh;
}

span{
    font-size: 12px;
    color: red;
    
} */
