.playlist-card {
  width: 275px;
  position: relative;
}

.playlist-card img {
  width: 100%;
}

.playlist-count {
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: gray;
}
