.liked-page-container {
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
}
.liked-page-container h2 {
  width: fit-content;
  text-align: center;
  margin: 20px auto;
  color: white;
  /* padding-top: 20px; */
}

.liked-page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .liked-page-list {
    margin: 0;
    flex-direction: column;
    margin-bottom: var(--header-height);
  }
}
