.playlist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .playlist-list {
    flex-direction: column;
    margin: auto;
    width: 90vw;
    align-content: center;
    margin-bottom: 65px;
  }
}
