.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--header-height);
  background: var(--primary-color);
  position: fixed;
}

.navbar-container a {
  text-decoration: none;
}

.active {
  background: #000000;
}

.nav-items {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: white;
}

.nav-items:hover {
  background: #000000;
}
.nav-items svg {
  height: 20px;
  width: 20px;
}

.nav-items span {
  font-size: 0.7rem;
}

@media (max-width: 500px) {
  .navbar-container {
    flex-direction: row;
    height: 65px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
  }
  .nav-items {
    height: 65px;
    width: 25vw;
  }
}
