.videoplayer-container {
  display: flex;
  width: 105%;
  justify-content: center;
  margin-top: var(--header-height);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.videoplayer-left {
  margin-top: 35px;
  width: 50%;
  height: 75vh;
}

.iframe-video {
  width: 100%;
  height: 70%;
}

.videoplayer-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.videoplayer-channel-img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: contain;
}

.videoplayer-details {
  padding-left: 20px;
  width: 100%;
}
.videoplayer-title {
  color: white;
  margin-top: 4px;
}
.videoplayer-channel-name {
  letter-spacing: 0.4px;
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: lightgrey;
}

.videoplayer-actions {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: white;
  width: 300px;
}

.videoplayer-actions div {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 3px;
}

.videoplayer-actions > div > svg {
  width: 20px;
  height: 20px;
  padding-right: 1px;
}

.liked-blue {
  color: var(--blue);
}
.videoplayer-right {
  width: 25%;
  margin: 15px;
  padding: 15px;
}

.videoplayer-right h2 {
  color: #f6eaea;
  width: 100%;
  text-align: center;
}

@media (max-width: 500px) {
  .videoplayer-container {
    flex-direction: column;
  }
  .videoplayer-left {
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .iframe-video {
    width: 90%;
    margin: auto;
    height: 200px;
  }
  .videoplayer-details {
    flex: 3;
  }
  .videoplayer-actions {
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }
  .videoplayer-right {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-bottom: var(--header-height);
  }
}
